.Intro{
    background-color: #fa9908; 
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    color: white;
    font-weight: 300;
    position: absolute;
    width: 50%;
    height: 50%;
    display: flex;
    align-items:center;
    font-weight: 700;
    margin-left: 100px;

    }
