@import "../../app.scss";
.skillListContainer {
    @include mobile {
        flex-direction: column;
        width: 100%;
      }

    .skillList {
        display: flex;
        padding: 0 10px;
        box-sizing: border-box;
        position: relative;
        margin-bottom: 80px;

        .skillItem {
            flex: 0 0 auto;
            width: 100px; 
            min-width: 200px;
            padding: 20px;
            text-align: center;
            box-sizing: border-box;
            @include mobile {
                width: 100px; 
                padding: none;
            }




            img {
                max-width: 100%;
                height: auto; 
                display: flex;
                justify-content: center;
                align-items: center;
                @include mobile {
                    width: 100px; 
                    padding: none;
                    
                }

            }
        }
    }

}
